@page "/teams/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpInterceptorService _interceptor 
@implements IDisposable 
@inject NavigationManager _navManager

<h3 class="card-title">Risk Teams Data</h3>

<br />

<a href="/teams/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Risk Team
</a>
<br />
<br />

@if (Teams == null)
{
    <div class="alert alert-info">Loading Risk teams Data...</div>
}
else
{
    <table class="table table-responsive" id="bookingsTable">
        <thead>
            <tr>
                <th>Leader</th>
                <th>Member 1</th>
                <th>Member 2</th>
                <th>Member 3</th>
                <th>Member 4</th>
                <th>Member 5</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Teams)
            {
                <tr>
                    <td>@team.Leader</td>
                    <td>@team.Member1</td>
                    <td>@team.Member2</td>
                    <td>
                        @if (team.Member3 != null)
                        {
                            @team.Member3
                        }
                        else
                        {
                            <span> </span>
                        }
                    </td>
                    <td>
                        @if (team.Member4 != null)
                        {
                            @team.Member4
                        }
                        else
                        {
                            <span></span>
                        }
                    </td>
                    <td>
                        @if (team.Member5 != null)
                        {
                            @team.Member5
                        }
                        
                        else
                        {
                            <span></span>
                        }
                    </td>
                    <td>
                        <a href="/teams/edit/@team.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(team.Id))">
                            <span class="oi oi-trash"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<RiskTeam>? Teams;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Teams = await _client.GetFromJsonAsync<List<RiskTeam>>($"{Endpoints.RiskTeamsEndpoint}");
    }

    async Task Delete(int teamId)
    {
        if (Teams != null)
        {
            var team = Teams.First(q => q.Id == teamId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {team.Leader}'s team?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.RiskTeamsEndpoint}/{teamId}");
                await OnInitializedAsync();
                _navManager.NavigateTo("/teams/", forceLoad: true);
            }
        }      
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#bookingsTable");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
        js.InvokeVoidAsync("DataTablesDispose", "#bookingsTable");
    }
}